
/*.body{background-color: rgb(36, 36, 53); }*/
/*.head{
	color: rgb(159, 159, 175);
	background-color: rgb(130, 71, 199);
	display: flex;
	justify-content: center;
	width: 50%;
	height: 50%;
	
}
.head1 {
	color: rgb(230, 153, 53);
	background-color: rgb(26, 24, 24);
	display: flex;
	justify-content: center;
	
	
}
.paragraph {
	color: rgb(102, 100, 109);
	background-color: rgb(58, 14, 14);
}
.demo {
	background-color: rgb(173, 147, 197);
	color: rgb(136, 10, 27);
	justify-content: center;
	height: 10vh;
	width: 50%;
}
.span{
	background-color: rgb(32, 245, 245);
}
.parentdiv{
	background-color: rgb(85, 85, 35);
	height: 50%;
	width: 50%; 
} */
.parentdiv2{
	background-color: rgb(30, 206, 206);
	width: 50%;
	height: 70vh;
	margin-top: 100px;
	margin-left: 200px;

	
}
.list{
	background-color: rgb(116, 23, 23);
	height: 50vh;
	width: 30%;
	margin-top: 200px;
	margin-left: 100px;
	padding-top: 30px;



}