
/* .body{background-color: rgb(36, 36, 53); }
.head{
	color: rgb(159, 159, 175);
	background-color: rgb(130, 71, 199);
	display: flex;
	justify-content: center;
	width: 50%;
	height: 50%;
	
}
.head1 {
	color: rgb(230, 153, 53);
	background-color: rgb(26, 24, 24);
	display: flex;
	justify-content: center;
	
	
}
.paragraph {
	color: rgb(102, 100, 109);
	background-color: rgb(58, 14, 14);
}
.demo {
	background-color: rgb(173, 147, 197);
	color: rgb(136, 10, 27);
	justify-content: center;
	height: 10vh;
	width: 50%;
}
.span{
	background-color: rgb(32, 245, 245);
}
.parentdiv{
	background-color: rgb(85, 85, 35);
	height: 50%;
	width: 50%; 
} 
.parentdiv2{
	background-color: rgb(30, 206, 206);
	


}
.list{
	background-color: rgb(116, 23, 23);

	display: flex;



}
 .list:hover {
	cursor:pointer ;
	color: aqua;
	background-color: black;
	height: 50%;
	border-radius: 40%;
	transition: all 5s linear;
} 
.nav{
	background-color: rgb(29, 160, 73);
height: 8vh;

}

.nav:hover{
	cursor: pointer;
	 color: brown;
	  background-color: rgb(148, 100, 28);
	  height: 15vh;
	  border-radius: 5cm;
	  transition: all 4s linear;
	  transform: rotate3d(120deg);
}.paragraph:hover{
cursor: pointer;
color: black;
background-color: rgb(180, 163, 140);
height: 10vh;
border-radius: 2cm ;
transition: all 4s linear;
transform: matrix3d(250deg);
}
.gallery{
	display: flex;
	justify-content: flex-end;

} */







/*:root {
	--color:orange
}



html,body{
	margin: 0;
	padding: 0;
	font-size: 15px;
	font-family: Tahoma;
	background-image: url("sea.jpg") ;
	background-size: cover;
}
.about{
	padding: 10px 60px;
	margin: 10px 150px;
	border-radius: 20px;
}
.moto{
	padding: 10px 60px;
	margin: 10px 150px;
	border-radius: 20px;
}
.interest{
	padding: 10px 60px;
	margin: 10px 150px;
	border-radius: 20px;
}
.about{
	margin-top: 0;
}
.header{
	text-align: center;
	overflow: hidden;
	padding-top: 20px;
}
.header .logo{
	margin: 0 auto;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 10px solid #fff;
	box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, .5);
	background: var(--color);
}
.header .logo img {
	width: 100%;
	border-radius: 50%;
}
.header hr {
	border-color: var(--color);
	width: 100px;
}
.header h1{
	color: var(--color);
}
.about{
	background: hsl(0, 27%, 88%);
	box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.2);
}
.moto{
	background: var(--color);
	color: #fff;
}
.interest{
	background: hsl(0, 27%, 88%);
	box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.2);
}
.footer{
	background: var(--color);
	color: #fff;
	text-align: center;
	line-height: 40px;
}
.about:hover{
	background-color: rgb(111, 158, 158);
	color: rgb(47, 7, 83);
	cursor: all-scroll;
}
.moto:hover{
	background-color: rgb(175, 29, 53);
	color: rgb(207, 188, 188);
	cursor: alias;
}
.interest:hover{
	background-color: rgb(111, 158, 158);
	color: rgb(47, 7, 83);
	cursor: all-scroll;
}
.name:hover{
	color: rgb(16, 122, 87);
	font-style: italic;
	border: #fff;
	border-radius: 20px;
	transition: all 2s linear;
}
.name:hover:before {
		content: "";
		position: absolute;
		width: 270px;
		height: 2px;
		background-color: rgb(177, 43, 10);
		transition: all 2s linear;
	
}
.name:hover:after {
	content: "";
	position: absolute;
	width: 270px;
	height: 2px;
	background-color: rgb(177, 43, 10);
	transition: all 2s linear;
	

}
.name{
	position: relative;
}
:root {
	--color:orange
}



html,body{
	margin: 0;
	padding: 0;
	font-size: 15px;
	font-family: Tahoma;
	background-image: url("sea.jpg") ;
	background-size: cover;
}
.about{
	padding: 10px 60px;
	margin: 10px 150px;
	border-radius: 20px;
}
.moto{
	padding: 10px 60px;
	margin: 10px 150px;
	border-radius: 20px;
}
.interest{
	padding: 10px 60px;
	margin: 10px 150px;
	border-radius: 20px;
}
.about{
	margin-top: 0;
}
.header{
	text-align: center;
	overflow: hidden;
	padding-top: 20px;
}
.header .logo{
	margin: 0 auto;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 10px solid #fff;
	box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, .5);
	background: var(--color);
}
.header .logo img {
	width: 100%;
	border-radius: 50%;
}
.header hr {
	border-color: var(--color);
	width: 100px;
}
.header h1{
	color: var(--color);
}
.about{
	background: hsl(0, 27%, 88%);
	box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.2);
}
.moto{
	background: var(--color);
	color: #fff;
}
.interest{
	background: hsl(0, 27%, 88%);
	box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.2);
}
.footer{
	background: var(--color);
	color: #fff;
	text-align: center;
	line-height: 40px;
}
.about:hover{
	background-color: rgb(111, 158, 158);
	color: rgb(47, 7, 83);
	cursor: all-scroll;
}
.moto:hover{
	background-color: rgb(175, 29, 53);
	color: rgb(207, 188, 188);
	cursor: alias;
}
.interest:hover{
	background-color: rgb(111, 158, 158);
	color: rgb(47, 7, 83);
	cursor: all-scroll;
}
.name:hover{
	color: rgb(16, 122, 87);
	font-style: italic;
	border: #fff;
	border-radius: 20px;
	transition: all 2s linear;
}
.name:hover:before {
		content: "";
		position: absolute;
		width: 270px;
		height: 2px;
		background-color: rgb(177, 43, 10);
		transition: all 2s linear;
	
}
.name:hover:after {
	content: "";
	position: absolute;
	width: 270px;
	height: 2px;
	background-color: rgb(177, 43, 10);
	transition: all 2s linear;
}
.name{
	position: relative;
}*/
.navigation {
	width: 100%;
	float: right;
	background-color: pink;