
.body{background-color: rgb(36, 36, 53); }
.head{
	color: rgb(159, 159, 175);
	background-color: rgb(130, 71, 199);
	display: flex;
	justify-content: center;
	width: 50%;
	height: 50%;
	
}
.head1 {
	color: rgb(230, 153, 53);
	background-color: rgb(26, 24, 24);
	display: flex;
	justify-content: center;
	
	
}
.paragraph {
	color: rgb(102, 100, 109);
	background-color: rgb(58, 14, 14);
}
.demo {
	background-color: rgb(173, 147, 197);
	color: rgb(136, 10, 27);
	justify-content: center;
	height: 10vh;
	width: 50%;
}
.span{
	background-color: rgb(32, 245, 245);
}
.parentdiv{
	background-color: rgb(85, 85, 35);
	height: 50%;
	width: 50%; 
} 
.parentdiv2{
	background-color: rgb(30, 206, 206);
	


}
.list{
	background-color: rgb(116, 23, 23);

	display: flex;



}
.list:hover {
	cursor:pointer ;
	color: aqua;
	background-color: black;
	height: 50%;
	border-radius: 40%;
	transition: all 5s linear;
} 
.nav{
	background-color: rgb(29, 160, 73);
height: 8vh;

}

.nav:hover{
	cursor: pointer;
	 color: brown;
	  background-color: rgb(148, 100, 28);
	  height: 15vh;
	  border-radius: 5cm;
	  transition: all 4s linear;
	  transform: rotate3d(120deg);
}
.paragraph:hover{
cursor: pointer;
color: black;
background-color: rgb(19, 163, 74);
height: 10vh;
border-radius: 2cm ;
transition: all 4s linear;
transform: rotate(260deg);
}
